
<mat-form-field>
        <mat-select placeholder="Select Employee" (change)=onChange(toppings.value) #toppings   [formControl]="toppings" multiple>
          <mat-select-trigger >
            {{toppings.value ? toppings.value : ''}}
            <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
              (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
            </span>  
          </mat-select-trigger>
          <mat-option *ngFor="let topping of toppingList" [id]="topping" [value]="topping._id">{{topping.fname}}</mat-option>
        </mat-select>
 </mat-form-field>