



h2 {
  color: #212121;
}

img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
}


.container-fluid {
  width: 85%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-left: 15%;
}

.form-btn-hollows[_ngcontent-c1] {
  font-family: Poppins-Medium;
  font-size: 15px;
  margin-bottom: 8px;
  color: white;
  background-color: #100d10;
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
  width: 60%!important;
  height: 36px;
  border-radius: 25px;
  border: 1px solid #040404!important;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}


.bg-light {
  background-color: #3e90e2 !important;
}
.btn-outline-success {
  color: #d7ecdc;
  border-color: #f6fff8;
}
.btn-outline-success {
  color: #d7ecdc;
  border-color: #f6fff8;
}
h2{
color: black;
font-style: oblique;
font-weight: bold;
}


span{
font-size: 30px;
text-align: center;
font-weight: bold
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
  padding-left: 6px;
  padding-top: 4px;

}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}


.profileimg{
border-radius: 50%!important;
width: 40%!important;

}



@media screen and (max-width: 600px) {
.topnav a:not(:first-child), .dropdown .dropbtn {
  display: none;
}
.topnav a.icon {
  float: right;
  display: block;
}
}

@media screen and (max-width: 600px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}
.topnav.responsive .dropdown {float: none;}
.topnav.responsive .dropdown-content {position: relative;}
.topnav.responsive .dropdown .dropbtn {
  display: block;
  width: 100%;
  text-align: left;
}



}
