
    <div class="container-fluid" style="background-color:black">
      <div class="container">
        <div class="row">
          <span style="width: 30px;">
            Design by: Gaurav Parnami
          </span>
          <div class="col-xs-12 col-sm-12 col-md-12">
      <h1 style="width: 100%" id="div2">Startbit IT Solutions 

        Welcomes You</h1>
        
     <!-- // <h2  style="color: lightgreen" id="div1">We are provide Best Services.</h2> -->
    
     <script language="Javascript">
        h1.bgColor='#FFFFFF';
        setInterval("Timer()", 500);
        x=1;
        function Timer() {
            set=1;
            if(x==0 && set==1) {
              h1.bgColor='#000000';
              h1.style.color='#FFFFFF';
                x=1;
                set=0;
            }
            if(x==1 && set==1) {
              h1.bgColor='#FFFFFF';
                h1.style.color='#000000';
                x=0;
                set=0;
            }
        }
        </script>
        
  
    
      </div>
      </div>
      </div>
    
      
