.heading-task{
    text-align: center;
    font-style: italic;
    color: white;
}


mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 100%!important;
}
.taskMain{
    background-image: image("assets/images/download.png");
}

button { 
    margin-top: 5%;
    margin-bottom: 5%;
}



.form-group{
font-size: 13px!important;
}





button.mat-buttons {
	margin: 0px 7px !important;
}

a.btn{
  margin-top: 30%;
}

input[type="submit"]{
  width: 100%;
  margin-top: 50px;
}
.modal-close{
  position: absolute;
  top:10px;
  right:10px;
  padding:0;
  margin:0;
}



@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  margin-left: 2px!important;
  width: 180px;
}
form
  {
    width: 50%;
    margin: 0px auto;
    border-radius: 5px;
    background-color: white;
    margin-top: 20px;
    box-shadow: 0px 0px 15px #bbd7f5;

  
}
h1{
  color: white;
  font-weight: bold;
  background-color: teal;
  margin-top: 0px;
  padding-top: 20px;
  margin-left: -15px;
  margin-right: -15px;

  

}
.btn-primary{

  margin: 0px auto;
}
.btn-danger{
  margin-top: 20px;
  margin-bottom: 20px;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

img{
    width: 50px;    
}
.capbox {
	background-color: #92D433;
	border: #B3E272 0px solid;
	border-width: 0px 12px 0px 0px;
	display: inline-block;
	*display: inline; zoom: 1; /* FOR IE7-8 */
	padding: 8px 40px 8px 8px;
	}

.capbox-inner {
	font: bold 11px arial, sans-serif;
	color: #000000;
	background-color: #DBF3BA;
	margin: 5px auto 0px auto;
	padding: 3px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	}

#CaptchaDiv {
	font: bold 17px verdana, arial, sans-serif;
	font-style: italic;
	color: #000000;
	background-color: #FFFFFF;
	padding: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	}

	.btnedit{
		margin-top: 13px;
	}

	.fa-thumbs-up {
		font-size: 50px;
		cursor: pointer;
		user-select: none;
		padding-bottom: 10px;
	  }
    .mat-form-field {
      display: inline-block;
      position: relative;
      text-align: left;
      width: 100%!important;
  }
	  .fa:hover {
		color: rgb(55, 55, 202);
    }
    body {
      margin: 0px;
      padding: 0px;
      font-size: 1rem;
      font-family: 'Roboto', sans-serif;
      background-color:#e8e8e8;
      height: 100%;
  }
  .form-group {
    margin-bottom: 15px;
    padding: 0px 10px;
}

.mat-form-field-flex {
    display: inline-flex;
    align-items: baseline;
    width: 100%;
    font-size: 12px!important;
}
.form-group[_ngcontent-c1] {
  margin-bottom: 15px;
  padding: 0px 10px;
  text-shadow: 0 0 black;
  font-size: 13px;
}
container-fluid{
  background-color:  #d9d2da!important;
  margin-right: -28px;
  margin-left: -20px
}
.form-group[_ngcontent-c14] {
  margin-bottom: 15px;
  padding: 0px 10px;
  font-size: 13px!important;
}

img{
  border-radius: 50%;

}


.example-container {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color:#e8e8e8;
  }

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  
}
.topnav[_ngcontent-c1] {
  overflow: hidden;
  background-color: #187fe8;
  width: 100%;
 
}
.rightbar{
    float: right;
}
#menu{
    margin-top: 15px;
    float: right!important;
}

.example-sidenav {
  padding: 20px;
}
mat-drawer-container{
    height: 100%!important;
  }
.Header{
    width: 100%;
    margin: 0px auto;
    align-items:center;
    justify-content: center; 
    text-align: center;
}

mat-drawer{
  background-color: aqua;
  width: 20%;
}

mat-drawer p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

mat-drawer-container{
    position: absolute!important;
}
img{
    height: 30%;
    width: 50%;
}
.container{
    text-align: center;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.boom{
  width: 60%;
  background-color: #e9ecef;
  padding: 4rem;
  border-radius: .3rem;
  font-family: 'Lato';
  margin-top: 40px;
}

h2 {
  color: #212121;
}
.headerbar {
  padding: 10px;
  width: 100%;
  background-color:cornflowerblue;
}
.headerbar > span{
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  margin-left: 20px;
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
.example-container {
  width: 100%;
  height: 100%;
  margin: 10px;
  border: 1px solid #555;
}

ul{
    list-style-type: symbols(); 
}
li{
margin-left:40px;
list-style:decimal url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}

img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
}
.mat-tab-label {
  height: 48px;
  padding: 0 24px;
  cursor: pointer;
  box-sizing: border-box;
  opacity: .6;
  min-width: 33.33%!important;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
}
.carousel-inner{
position: relative;
  width: 103%!important;
  overflow: hidden;
  margin-left: -10px!important;
}
mat-tab-group{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

mat-tab-group p{
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 10px;
}
.topnav[_ngcontent-c1][_ngcontent-c1] {
    overflow: hidden;
    background-color: #187fe8;
    width: 100%;
    margin-left: 0px!important;
    margin-top: -175px!important;
}

mat-tab-group h1{
  margin-top: 20px;
  margin-bottom: 20px;
}
.bg-light {
  background-color: #187fe8 ;
}
.btn-outline-success {
  color: #d7ecdc;
  border-color: #f6fff8;
}
.btn-outline-success {
  color: #d7ecdc;
  border-color: #f6fff8;
}
h2{
color: black;
font-style: oblique;
font-weight: bold;
}

p{
color: BLACK;
}
img[_ngcontent-c1] {
vertical-align: middle;
border-style: none;
width: 80%;
height: 20%!important;
margin-left: 20px;
}




ngb-carousel {
  display: block;
  width: 105%;
  margin-left: -30px;
}
.journal h2 {
  text-align: center;
}

/* Fixed sidenav, full height */




.form-btn-hollow[_ngcontent-c1] {
  font-family: Poppins-Medium;
  font-size: 15px;
  color: white;
  background-color: #100d10;
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
  width: 56%!important;
  height: 36px;
  border-radius: 25px;
  border: 1px solid #040404!important;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}
/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
  padding-left: 6px;
  padding-top: 4px;

}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}






.content {
  margin-left: 75px;
  font-size: 30px;
}









.dropdown-content a:hover {
background-color: #ddd;
color: black;
}

.dropdown:hover .dropdown-content {
display: block;
}

.profileimg{
border-radius: 50%!important;
width: 43%!important;

}



@media screen and (max-width: 600px) {
.topnav a:not(:first-child), .dropdown .dropbtn {
  display: none;
}
.topnav a.icon {
  float: right;
  display: block;
}
}

@media screen and (max-width: 600px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}
.topnav.responsive .dropdown {float: none;}
.topnav.responsive .dropdown-content {position: relative;}
.topnav.responsive .dropdown .dropbtn {
  display: block;
  width: 100%;
  text-align: left;
}



}
